<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.task.managment.model.Task" >
	<insert id="insert"   parameterType="com.task.managment.model.Task">
	  insert into TaskList ( title, content, "assignedTo", "assignedBy", deadline,assignedDate)
	  values (#{title},#{content},#{assignedTo},#{assignedBy},#{deadline},CURRENT_TIMESTAMP())
	</insert>
</mapper>